{% extends 'base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

<p class="text-center">Bienvenue sur votre backoffice</p>

<a href="{{ path ('admin_articles') }} " class="col-md-6 offset-md-3 btn btn-dark p-2 mb-3">GETION  DES ARTICLES</a>

<a href="" class="col-md-6 offset-md-3 btn btn-primary p-2 mb-3">GETION  DES MEMBRES</a>

<a href="" class="col-md-6 offset-md-3 btn btn-info p-2 mb-3">GETION  DES CATEGEORIES</a>

<a href="" class="col-md-6 offset-md-3 btn btn-warning p-2 mb-3">GETION  DES COMMENTAIRES</a>

{% endblock %}
