{% extends "base.html.twig" %}

{% block body %}

<h1 class="display-4 text-center my-4">Detail de l'article</h1>


<div class="col-md-12 mb-2  p-0">
    <img src="https://picsum.photos/seed/picsum/300/150" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Commodi, officiis ad non numquam a itaque repellat eum labore dicta quasi, officia earum facere dignissimos. 
          Ducimus quidem assumenda laudantium animi quis.</p>
    </div>
  </div>

{% endblock %}